// 清除浮動
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 隱藏文字
@mixin hide-text {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

// 過長文字結尾省略 可自訂第幾行
@mixin ellipsis($line:1) {
  text-overflow: ellipsis;
  overflow: hidden;

  @if $line==1 {
    white-space: nowrap;
  }

  @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }
}

// 垂直至中
@mixin vertical-center {
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

// 定位 如:@include position(relative, 0 ,null ,null ,10em,1);
@mixin position($type:relative, $top:null, $right:null, $bottom:null, $left:null, $z:null) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z;
}

// 生成指定方向三角形 例子:
// .element {
//   &::before {
//     @include triangle("up", 2rem, 1rem, #b25c9c);
//     content: "";
//   }
// }
@mixin triangle($direction,
$width,
$height,
$color) {

  @if not index("up""up-right""right""down-right""down""down-left""left""up-left",
  $direction) {
    @error "Direction must be `up`, `up-right`, `right`, `down-right`, "+"`down`, `down-left`, `left` or `up-left`.";
  }

  @else if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in "+"the `triangle` mixin.";
  }

  @else {
    border-style: solid;
    height: 0;
    width: 0;

    @if $direction=="up" {
      border-color: transparent transparent $color;
      border-width: 0 ($width / 2) $height;
    }

    @else if $direction=="up-right" {
      border-color: transparent $color transparent transparent;
      border-width: 0 $width $width 0;
    }

    @else if $direction=="right" {
      border-color: transparent transparent transparent $color;
      border-width: ($height / 2) 0 ($height / 2) $width;
    }

    @else if $direction=="down-right" {
      border-color: transparent transparent $color;
      border-width: 0 0 $width $width;
    }

    @else if $direction=="down" {
      border-color: $color transparent transparent;
      border-width: $height ($width / 2) 0;
    }

    @else if $direction=="down-left" {
      border-color: transparent transparent transparent $color;
      border-width: $width 0 0 $width;
    }

    @else if $direction=="left" {
      border-color: transparent $color transparent transparent;
      border-width: ($height / 2) $width ($height / 2) 0;
    }

    @else if $direction=="up-left" {
      border-color: $color transparent transparent;
      border-width: $width $width 0 0;
    }
  }
}

// placeholder 顏色, 使用如下
// .placeholder {
//   @include placeholder {
//     color: #0066CC;
//     background: #ccffff;
//   }
// }

@mixin placeholder() {
  input::-webkit-input-placeholder {@content}
  input:-moz-placeholder           {@content}
  input::-moz-placeholder          {@content}
  input:-ms-input-placeholder      {@content}
};

// 滾輪條
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

$RWD: (
  'lg': 1200px,
  'md': 992px,
  'xs': 768px
);

// RWD斷點
@mixin breakpoint($point) {
  @each $key,$value in $RWD {
    @if $point==$key {
      @media only screen and (max-width: $value) {
        @content;
      }
    }
  }
}
